* {
	box-sizing: border-box;
}

body {
    width: 75%;
    margin: 0 auto;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	text-align: left;
	font-size: 1em;
}

h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	text-align: left;
}
h2 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	text-align: left;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
	text-align: left;
}
.header {
	padding: 10px;
	background: #71AFFF;
	color: #FFFFFF;
	margin-bottom: 16px;
}
img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	float: left;
	border-radius: 50%;
	max-width: 100%
}
/* Create two equal columns that floats next to each other */
.column {
	float: left;
	width: 50%;
	padding: 10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
p {
    font-size: 1em;
    line-height: 1.1em;
    color: #333;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}