body {
    margin: 60px auto;
    width: 75%;
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	text-align: left;
	font-size: 1em;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	text-align: left;
}
h2 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	text-align: left;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
	text-align: left;
}
.header {
	padding: 10px;
	background: #71AFFF;
	color: #FFFFFF;
	margin-bottom: 16px;
}
.iconDetails {
	margin-left:2%;
	float:left; 
	border-radius: 50%;	
} 
.container2 {
    width:100%;
    height:auto;
    padding:1%;
    float:left;
}
.left {float:left;width:50%;}
.right {float:left;width:50%;}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
	text-align: right;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}