<!DOCTYPE html>
	<html lang="en">
		
		{% include head.html %}
		
		<body>
			<div>
			
			<div class="header">
				<nav>
				<ul>
					<li><h2 align="left"><a href="/"><font color="#FFFFFF">Glen Martin</font></a></h2></li>
					<li><a href="/projects"><font color="#FFFFFF">Projects</font></a></li>
					<li><a href="/posts"><font color="#FFFFFF">Posts</font></a></li>
				</ul>
				</nav>
			</div> 
			
			{{ content }}
			
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:glen.martin@manchester.ac.uk">email</a></li>
	        		<li><a href="https://github.com/GlenMartin31">github.com/GlenMartin31</a></li>
				</ul>
			</footer>
		</body>
	</html>